/* 1. Element Selectors */
p { 
  color: grey; 
}
/* 2. ID Selectors */
#latest { 
  background-color: purple; 
}
/* 3. class Selectors */
.navigation { 
  margin: 2px;
}
/* 4. Element with class Selectors */
p.introduction { 
  margin: 3px;
}
/* 5. Descendant  Selectors */
#blog h1 {
  color: blue;
}
#blog div h1 {
  color: red;
}
/* 6. Child  Selectors */
#blog1 > h1 {
  color: green;
}
/* 7. :hover Pseudo-Class */
a:hover {
  color: orange;
}
