h1 {
    color: purple;
}
p {
    text-transform: lowercase;
}
#header-1 {
    color: rgb(0, 255, 0);
}
#latest {
    background-color: fuchsia;
}
.navigation {
    margin: 2px;
    font-style: oblique;
}
p.introduction {
    margin: 3px;
    border: 1px solid green;
    font-weight: 600;
}
#blog h2 {
    color: #6f2cdc;
}
#blog div h2 {
    color:rgba(165, 42, 42, .7);
}
#blog > p {
    color: hsl(0, 100%, 50%) ;
}
a:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
div > div > p {
    text-decoration: underline rgb(175, 106, 106) 5px ;
}
#header-2{
    text-decoration-line: underline;
    text-decoration-color: blanchedalmond;
    text-decoration-thickness: 6px;
    text-decoration-style:wavy;
}
